# OS
.DS_Store
Thumbs.db

# IDE and local environment
*.afdesign
*.gitcreds
*.sublime-workspace
*.sublime-project
*.transifexrc

# Packages
package-lock.json
node_modules/
composer.lock
vendor/

# Application
temp/

# Distribution
sftp-config.json
deploy.sh
build/
svn/
wp-assets/
