*.gitcreds
node_modules/
temp/
build/
svn/
wp-assets/
vendor/
deploy.sh
sftp-config.json
*.sublime-workspace
*.sublime-project
*.transifexrc
*.afdesign
package-lock.json
composer.lock
*.js.map
*.asset.php
